{
    "botinfo": {
		"userid": "XXXXXX",
        "name": "XXXXXX",
		"roomid": "XXXXXX",
		"auth": "XXXXXX",
		"command_name": "XXXXXX",
		"masterid": "XXXXXX",
		"mastername": "XXXXXX",
		"creatorid": "XXXXXX",
		"creatorname": "XXXXXX"
    },
    "admins": [
        "XXXXXX",
        "XXXXXX",
		"XXXXXX"
    ],
    "maintenance": {
        "autorejoin": true,
		"tweet": true
    },
	"twitter": {
		"consumer_key": "XXXXXX", 
		"consumer_secret": "XXXXXX", 
		"access_token_key": "XXXXXX", 
		"access_token_secret": "XXXXXX"
	}
}